$fa-font-path: "../webfonts";

$dark_blue: #5498bc;
$light_blue: #6bb4e5;
$dark_yellow: #f4bb3a;
$light_yellow: #ffc74e;
$light_pink: #ff00d9;
$dark_purple: #3600ad;
$dark_red: #4a0500;
$dark_green: #004a00;
$light_grey: #fafafa;
$light_grey_semi: #0003;
$dark_grey_semi: #0008;

$primary: $dark_blue;
$link: $light_blue;
$info: $dark_yellow;