$fa-font-path: "../webfonts";

$dark-blue: #5498bc;
$light-blue: #6bb4e5;
$dark-yellow: #f4bb3a;
$light-yellow: #ffc74e;
$light-pink: #ff00d9;
$dark-purple: #3600ad;
$dark-red: #4a0500;
$dark-green: #004a00;
$light-grey: #fafafa;
$light-grey-semi: #0003;
$dark-grey-semi: #0008;

$primary: $dark-blue;
$link: $light-blue;
$info: $dark-yellow;