@charset "utf-8";

@import "_variables.scss";

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

$admin: $light_yellow;
$architect: $light_pink;
$business: $dark_green;
$dev: $dark_blue;
$end-user: $dark_green;
$exec: $light_pink;
$marketing:  $dark_purple;
$nonprofit: $dark_red;

$fg: (
    admin: findDarkColor($admin),
    architect: findDarkColor($architect),
    business: findDarkColor($business),
    dev: findDarkColor($dev),
    end-user: findDarkColor($end-user),
    exec: findDarkColor($exec),
    marketing: findDarkColor($marketing),
    nonprofit: findDarkColor($nonprofit)
);

$bg: (
    admin: findLightColor($admin),
    architect: findLightColor($architect),
    business: findLightColor($business),
    dev: findLightColor($dev),
    end-user: findLightColor($end-user),
    exec: findLightColor($exec),
    marketing: findLightColor($marketing),
    nonprofit: findLightColor($nonprofit)
);

$tracks: admin, marketing, end-user, architect, dev, exec, nonprofit, business;

@each $track in $tracks {
    .is-#{$track} {
        background-color: map-get($bg, $track) !important;
        color: map-get($fg, $track) !important;
    }
}

@each $track in $tracks {
    .has-background-#{$track} {
        background-color: map-get($bg, $track) !important;
    }
}

body {
    background-color: $light_blue;
    min-height: 100%;
    min-height: 100vh;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#site_wrapper {
    background-color: $white;
    min-height: 100%;
    min-height: 100vh;
    /* stylelint-disable-next-line unit-allowed-list */
    padding-bottom: 150px;
}

#hero_banner {
    background-color: $light_blue;
    background-image: url('/img/skyline.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    .hero-body {
        background-color: $light_grey_semi;
    }
}

#hero_image {
    /* stylelint-disable-next-line unit-allowed-list */
    max-width: 1000px;
    margin: 0 auto;
}

#hero_banner_mobile {
    background-image: url('/img/logo_wide.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#hero_foot {
    background-color: $dark_grey_semi;
}

.navbar-menu {
    box-shadow: none !important;
}

#map {
    /* stylelint-disable-next-line unit-allowed-list */
    height: 600px;
    background-color: $light_grey;
}

.is-512x512 {
    /* stylelint-disable-next-line unit-allowed-list */
    height: 512px;
    /* stylelint-disable-next-line unit-allowed-list */
    width: 512px;
}

.has-background-dark-blue {
    background: $dark_blue;
}

.has-background-light-blue {
    background: $light_blue;
}

.has-background-dark-yellow {
    background: $dark_yellow;
}

.has-background-light-yellow {
    background: $light_yellow;
}

.swatch {
    /* stylelint-disable-next-line unit-allowed-list */
    width: 170px;
    /* stylelint-disable-next-line unit-allowed-list */
    height: 170px;
    margin: auto;
    /* stylelint-disable-next-line unit-allowed-list */
    border: 1px solid $black;
}

.swatch > p {
    margin: auto;
}

.keynote_speaker {
    /* stylelint-disable-next-line unit-allowed-list */
    border-top: 2px solid $light_grey;
}

.google_form {
    width: 100%;
    height: 100vh;
}