@charset "utf-8";

@import "_variables.scss";

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

body {
    background-color: $light_blue;
    min-height: 100%;
    min-height: 100vh;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#site_wrapper {
    background-color: $white;
    min-height: 100%;
    min-height: 100vh;
    /* stylelint-disable-next-line unit-allowed-list */
    padding-bottom: 150px;
}

#hero_banner {
    background-color: $light_blue;
    background-image: url('/img/skyline.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    .hero-body {
        background-color: #0003;
    }
}

#hero_image {
    /* stylelint-disable-next-line unit-allowed-list */
    max-width: 1000px;
    margin: 0 auto;
}

#hero_banner_mobile {
    background-image: url('/img/logo_wide.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#hero_foot {
    background-color: #0008;
}

.navbar-menu {
    box-shadow: none !important;
}

#map {
    /* stylelint-disable-next-line unit-allowed-list */
    height: 600px;
    background-color: #fafafa;
}

.is-512x512 {
    /* stylelint-disable-next-line unit-allowed-list */
    height: 512px;
    /* stylelint-disable-next-line unit-allowed-list */
    width: 512px;
}

.has-background-dark-blue {
    background: #5498bc;
}

.has-background-light-blue {
    background: #6bb4e5;
}

.has-background-dark-yellow {
    background: #f4bb3a;
}

.has-background-light-yellow {
    background: #ffc74e;
}

.swatch {
    /* stylelint-disable-next-line unit-allowed-list */
    width: 170px;
    /* stylelint-disable-next-line unit-allowed-list */
    height: 170px;
    margin: auto;
    /* stylelint-disable-next-line unit-allowed-list */
    border: 1px solid black;
}

.swatch > p {
    margin: auto;
}

.keynote_speaker {
    /* stylelint-disable-next-line unit-allowed-list */
    border-top: 2px solid #f5f5f5;
}

.google_form {
    width: 100%;
    min-height: 3962px;
}