@charset "utf-8";

$dark_blue: #5498bc;
$light_blue: #6bb4e5;
$dark_yellow: #f4bb3a;
$light_yellow: #ffc74e;

$primary: $dark_blue;
$link: $light_blue;
$info: $dark_yellow;

@import "../node_modules/bulma/bulma.sass";

#hero_banner {
    background-color: $light_blue;
    background-image: url('/img/skyline.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    .hero-body {
        background-color: #0003;
    }
}

#hero_image {
    /* stylelint-disable-next-line unit-allowed-list */
    max-width: 1000px;
    margin: 0 auto;
}

#hero_banner_mobile {
    background-image: url('/img/logo_wide.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#hero_foot {
    background-color: #0008;
}