{% extends "layout.html" %}

{% block content %}
<div class="container is-fluid">
    <h1 class="is-size-1 has-text-weight-bold">Page Not Found</h1>
    <p>Looks like you accidentally stumbled on a page that doesn't exist.  Please check the URL for spelling errors and / or report the link you followed to get here to whomever sent it to you.  If you followed a link directly on our site, please let us know that there is an issue by emailing <a href="mailto:website@dreaminevents.com">website@dreaminevents.com</a> or filling out an <a href="">issue</a>.
</div>
{% endblock %}