{% extends "layout.html" %}
{% import "macros/sponsor.njk" as helpers_sponsor %}
{% import "macros/homepage.njk" as helpers_homepage %}

{% block content %}
    <section class="hero is-large" id="hero-banner">
        <div class="hero-body pb-4 pt-6 px-4 has-text-centered">
            <div id="hero-image">
                <img src="/img/logo_wide.png" alt="Southeast Dreamin'" height="280" width="1000">
            </div>
            <div class="columns is-multiline is-centered">
                {{ helpers_homepage.homepage_callout("fa-calendar-alt", "2027") }}
                {{ helpers_homepage.homepage_callout("fa-map-marker-alt", "Southern US") }}
            </div>

            <div class="columns is-multiline is-centered">
                <div class="column is-4">
                    <a class="{{ globals.style_homepage_button }}" href="{{ globals.mailinglist_url }}">
                        <span class="icon">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="">Mailing List</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <nav class="level py-3 has-background-info is-mobile">
        {{ helpers_homepage.homepage_stat("Days", "2") }}
        {{ helpers_homepage.homepage_stat("Sessions", "49") }}
        {{ helpers_homepage.homepage_stat("Attendees", "250+") }}
    </nav>
    <div class="container content is-fluid">
        <section class="section is-small">
            <div class="columns is-multiline is-centered">
                <div class="column is-half">
                    <img srcset="/img/cover-300.jpg 300w, /img/cover-800.jpg 800w"
                        sizes="(max-width: 400px) 300px, 800px" class="image is-5by5" alt="Photo of attendee hold plush goat">
                </div>
                <div class="column">
                    <p class="mt-6">Big things are happening with Southeast Dreamin'!  We are taking 2026 off to plan the best event we can.  We'll update our social media pages and send out emails to everyone once we have a date and location selected for 2027.  If you want to be the first to know, join our <a href="{{ globals.mailinglist_url }}">mailing list</a> and keep your eyes peeled!</p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
