{% extends "layout.html" %}

{% block content %}
    <section class="hero is-large" id="hero_banner">
        <div class="hero-body pb-4 pt-6 px-4 has-text-centered">
            <div id="hero_image">
                <img src="/img/logo_wide.png" alt="Southeast Dreamin'">
            </div>
            <div class="columns is-multiline is-centered">
                <div class="column is-3">
                    <div class="notification">
                        <i class="fas fa-calendar-alt"></i> {{ globals.event_date }}</div>
                </div>
                <div class="column is-3 is-offset-2">
                    <div class="notification">
                        <i class="fas fa-map-marker-alt"></i> Atlanta, GA</div>
                </div>
            </div>
        </div>
    </section>
    <nav class="level py-3 has-background-info is-mobile">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Days</p>
                <p class="title">2</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Sessions</p>
                <p class="title">30</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Attendees</p>
                <p class="title">350+</p>
            </div>
        </div>
    </nav>
    <div class="container is-fluid">
        <section class="section is-small">
            <div class="columns is-multiline is-centered">
                <div class="column is-half">
                    <img src="/img/cover.jpg" class="image is-5by5">
                </div>
                <div class="column">
                    <p class="mt-6">Southeast Dreamin' is a community lead multi-day conference where attendees can expand their knowledge of Salesforce and Salesforce related technologies. Located in the Atlanta area, and spanning two days,  attendees will get to experience hands-on trainings, sessions on a wide variety of Salesforce topics, key notes from exciting members of the community, and much more!</p>
                    <p class="mt-5">The best part of any conference is the people! Join your favorite Trailblazers from Atlanta and beyond as you network, share, learn, and inspire.</p>
                    <p class="mt-5">We are currently in the process of planning for the 2022 event so make sure you <a href="https://twitter.com/sedreamin">follow us on Twitter</a> so you'll be the first to know when registration opens and when our call for presentations opens.</p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}