{
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-standard-scss"
    ],
    "rules": {
        "block-no-empty": null,
        "color-no-invalid-hex": true,
        "comment-empty-line-before": [
            "always", {
                "ignore": [
                    "stylelint-commands",
                    "after-comment"
                ]
            }
        ],
        "rule-empty-line-before": [
            "always",
            {
                "except": ["first-nested"],
                "ignore": ["after-comment"]
            }
        ],
        "unit-allowed-list": [
            "em",
            "rem",
            "%",
            "s",
            "deg",
            "vh"
        ],
        "scss/dollar-variable-empty-line-before": null
    }
}