{% macro sponsor_level(level, year) -%}
    {% if (level.sponsors | length) != 0 %}
    <section class="section">
        <h1 class="title is-capitalized">{{ level.label }}</h1>
        <div class="columns is-multiline is-vcentered">
            {% for sponsor in level.sponsors | sort(false, false, 'name') %}
                {{ sponsor_image(sponsor, level, year) }}
            {% endfor %}
        </div>
    </section>
    {% endif %}
{%- endmacro %}

{% macro sponsor_image(sponsor, level, year) -%}
    <div class="column {{ level.size }}">
        <figure class="image">
            {% if level.fullpage %}
            <a href="/sponsors/{{ year }}/{{ sponsor.id }}/">
            {% else %}
            <a href="{{ sponsor.url }}">
            {% endif %}
                <img src="{{ sponsor.logo }}" alt="{{ sponsor.name }}" class="mb-4" alt="{{ sponsor.name }} Logo" />
            </a>
        </figure>
        <div class="content"><p class="has-text-weight-semibold">{{ sponsor.type }}</p>{{ sponsor.description | safe }}</div>
    </div>
{%- endmacro %}