{% set event_date = "June 29-30, 2023" %}
{% set event_day_one = "June 29th 2023" %}
{% set event_day_two = "June 30th 2023" %}
{% set event_day_one_number = "29th" %}
{% set event_day_two_number = "30th" %}

{% set display_header_sponsors = false %}
{% set display_header_schedule = false %}
{% set display_header_sessions = true %}

{% set display_sponsor_form = true %}

{% set display_cfp_form = false %}
{% set cfp_form = "https://docs.google.com/forms/d/e/1FAIpQLSdiWsqd3ubJX9bDD5roAnL1BoCHBA32IIZ1IpvlhmM8qdrb7Q/viewform?embedded=true" %}
{% set cfp_enddate = "March 17th 2023" %}
{% set cfp_notifdate = "March 23rd 2023" %}

{% set display_hot_form = false %}
{% set hot_form = "https://docs.google.com/forms/d/e/1FAIpQLSf5aBF8Ucu15AAnM18ycrbCalA6qIgotAg1bOHmi1yjazcARg/viewform?embedded=true" %}
{% set hot_enddate = "March 17th 2023" %}
{% set hot_notifdate = "March 23rd 2023" %}

{% set slide_deck_url = "https://docs.google.com/presentation/d/139OuRhI3hQuhrjmVmzpb25Ly_NH3SQHYCI1B0RCSB-s/edit?usp=sharing" %}
{% set speaker_form_url = "https://forms.gle/ok9eqhrxLwsAK5TR6" %}

{% set schedule_finalized = false %}

{% set registration_open = true %}
{% set registration_url = "https://whova.com/portal/registration/south_202306/" %}

{% set hotel_url = "http://www.secure-res.com/res/vn3/cglogin.aspx?hotelid=2871&rlog=957&pd=dreamin" %}

{% set whova_open = false %}
{% set whova_url = "https://whova.com/portal/south1_202206/?source=btn_link" %}

{% set full_refund_date = "May 29, 2023" %}
{% set transfer_date = "June 15, 2023" %}

{% set mailchimp_action = "https://southeastdreamin.us17.list-manage.com/subscribe/post?u=76f471c3cbdaba10d4e7b3e36&id=fd68adf782&f_id=00665de0f0" %}