{% set event_date = "June 27th - 28th 2024" %}
{% set event_day_one = "June 27th 2024" %}
{% set event_day_two = "June 28th 2024" %}
{% set event_day_one_number = "27th" %}
{% set event_day_two_number = "28th" %}

{% set display_header_sponsors = true %}
{% set display_header_schedule = true %}
{% set display_header_sessions = true %}
{% set display_header_volunteer = false %}

{% set display_sponsor_form = true %}

{% set display_cfp_form = false %}
{% set cfp_form = "https://docs.google.com/forms/d/e/1FAIpQLSc47lUt0Xlpc5TcA6L8KUTHeazES7s4JTAICC8D6E7wLvydvA/viewform?embedded=true" %}
{% set cfp_startdate = "December 1st, 2023" %}
{% set cfp_enddate = "February 1st, 2024" %}
{% set cfp_notifdate = "February 23rd, 2024" %}
{% set cfp_postdate = "March 1st, 2024" %}

{% set display_hot_form = false %}
{% set hot_form = "https://docs.google.com/forms/d/e/1FAIpQLSfcJNGleRJw5lkL6ulgxOZjiRDTPorCgabij1AuVYbUGeQRYQ/viewform?embedded=true" %}
{% set hot_startdate = "December 1st, 2023" %}
{% set hot_enddate = "February 1st, 2024" %}
{% set hot_notifdate = "February 23rd, 2024" %}

{% set slide_deck_url = "https://docs.google.com/presentation/u/0/d/1gwY46M3iGi5IejwJPyv3TjdQFRlfcz7zzWeX1E_P01k/edit" %}
{% set speaker_form_url = "https://forms.gle/ywr7vubhfrWRdYi99" %}
{% set slide_upload_url = "https://forms.gle/j2xWvGM8KdwJFW577" %}
{% set speaker_dry_run_date = "May 31, 2024" %}
{% set speaker_slides_due_date = "June 14, 2024" %}
{% set sponsor_slide_ready = false %}
{% set sponsor_slide_url = "" %}

{% set schedule_finalized = true %}

{% set registration_open = true %}
{% set registration_url = "https://whova.com/portal/registration/south1_202407/" %}

{% set hotel_url = "http://bookings.ihotelier.com/bookings.jsp?groupID=4055562&hotelID=75983" %}
{% set hotel_expiredate = "June 7th, 2024" %}

{% set whova_open = false %}
{% set whova_url = "https://whova.com/portal/webapp/south1_202407/" %}
{% set whova_comms_date = "May 31, 2024" %}

{% set full_refund_date = "June 7, 2024" %}
{% set transfer_date = "June 7, 2024" %}
{% set registration_email = "registration@dreaminevents.com" %}
{% set info_email = "info@dreaminevents.com" %}

{% set mailchimp_action = "https://southeastdreamin.us17.list-manage.com/subscribe/post?u=76f471c3cbdaba10d4e7b3e36&id=fd68adf782&f_id=00665de0f0" %}

{% set style_homepage_button = "button is-primary is-fullwidth has-background-info has-text-black p-5" %}

{% set volunteer_deadline = "March 1, 2024" %}