{% set event_year = "2025" %}
{% set event_date = "June 26th - 27th 2025" %}
{% set event_day_one = "June 26th 2025" %}
{% set event_day_two = "June 27th 2025" %}
{% set event_day_one_number = "26th" %}
{% set event_day_two_number = "27th" %}

{% set display_header_sponsors = false %}
{% set display_header_schedule = false %}
{% set display_header_sessions = false %}
{% set display_header_volunteer = true %}

{% set display_sponsor_form = true %}
{% set sponsor_date_agreement = "June 20th 2025" %}
{% set sponsor_date_payment = "June 25th 2025" %}
{% set sponsor_date_cancel_half = "March 31st 2025" %}
{% set sponsor_date_cancel_three_quarter = "March 1st 2025" %}
{% set sponsor_date_cancel_final = "April 1st 2025" %}
{% set sponsor_date_ship = "June 22nd 2025" %}

{% set display_cfp_form = false %}
{% set cfp_form = "https://docs.google.com/forms/d/e/1FAIpQLScWJpFHZ-zg-k9kFZQrfxpTSUvh-_o-YSwrB6Y9gZiSAsaeGA/viewform?embedded=true" %}
{% set cfp_startdate = "December 1st, 2024" %}
{% set cfp_enddate = "February 14th, 2025" %}
{% set cfp_notifdate = "March 3rd, 2025" %}
{% set cfp_postdate = "March 14th, 2025" %}

{% set display_hot_form = false %}
{% set hot_form = "https://docs.google.com/forms/d/e/1FAIpQLSco7cVxPITveSf90rAH0J9i4DHDqk5YLwye8nSl7mJO2iZ9rA/viewform?embedded=true" %}
{% set hot_startdate = "December 1st, 2024" %}
{% set hot_enddate = "February 14th, 2025" %}
{% set hot_notifdate = "March 3rd, 2025" %}

{% set slide_deck_url = "https://docs.google.com/presentation/u/0/d/1gwY46M3iGi5IejwJPyv3TjdQFRlfcz7zzWeX1E_P01k/edit" %}
{% set speaker_form_url = "https://forms.gle/ywr7vubhfrWRdYi99" %}
{% set slide_upload_url = "https://forms.gle/j2xWvGM8KdwJFW577" %}
{% set speaker_dry_run_date = "May 30, 2025" %}
{% set speaker_slides_due_date = "June 13, 2025" %}
{% set sponsor_slide_ready = false %}
{% set sponsor_slide_url = "https://docs.google.com/presentation/d/128HiVAoys7a6HxrPpY1EFNnb75WcNbbsZNgM3wYmeck/edit?usp=sharing" %}

{% set schedule_finalized = false %}

{% set registration_open = true %}
{% set registration_url = "https://buy.stripe.com/eVa3fwdBzcSR5wYeUU" %}

{% set hotel_url = "http://bookings.ihotelier.com/bookings.jsp?groupID=4168767&hotelID=75983" %}
{% set hotel_expiredate = "May 30th, 2025" %}

{% set whova_open = false %}
{% set whova_url = "https://whova.com/portal/webapp/south1_202407/" %}
{% set whova_comms_date = "May 30, 2025" %}

{% set full_refund_date = "May 30, 2025" %}
{% set transfer_date = "May 30, 2025" %}
{% set registration_email = "registration@dreaminevents.com" %}
{% set info_email = "info@dreaminevents.com" %}

{% set mailchimp_action = "https://southeastdreamin.us17.list-manage.com/subscribe/post?u=76f471c3cbdaba10d4e7b3e36&id=fd68adf782&f_id=00665de0f0" %}

{% set style_homepage_button = "button is-primary is-fullwidth has-background-info has-text-black p-5" %}

{% set volunteer_deadline = "February 28, 2025" %}