{% if session.speakers | length == 1 %}
{% set opengraph_image = "/img/sessions/" + session.year + "/" + session.id + ".png" %}
{% else %}
{% set opengraph_image = "/img/sessions/" + session.year + "/" + session.id + "_" + session.speakers[0].last_name | lower + ".png" %}
{% endif %}

{% set opengraph_title = "Southeast Dreamin' " + session.year + " &mdash; " + session.title | escape %}
{% set subtitle = session.title %}

{% extends "layout.html" %}
{% import "partials/helpers.html" as helpers %}
{% block content %}
    <div class="container mx-4">
        {{ helpers.session_display(session, rooms[session.room], tracks[session.track], time_slots[session.slot], true) }}
        {{ helpers.session_image(session) }}
    </div>
{% endblock %}