{% set subtitle = "Hands-on Training" %}
{% extends "layout.html" %}
{% import "partials/helpers.html" as helpers %}

{% block content %}
    <div class="container mx-4">
        {% if globals.display_hot_form %}
            <section class="hero">
                <p class="title">Hands-on Training</h1>
                <p class="subtitle">Call for hands-on trainings closes on {{ globals.hot_enddate}}.</p>

                <p>All hands-on trainings will be 90 minutes in length and will be held on the first day.  Depending on the quantity of trainings we select and the expected popularity of a training, you may be asked to lead the training twice.</p>
            </section>
            <div class="content mt-6 is-fluid">
                <iframe class="google_form" src="{{ globals.hot_form }}" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
        {% else %}
            <section class="hero">
                <p class="title">Hands-on Training</p>
                <div class="content mt-6 is-fluid">
                    <p>Our call for hands-on trainings is currently closed.  Thank you for interest. Please check our social media outlets for when our call for presentation opens next.</p>
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}