{% set subtitle = "Sponsor FAQ" %}
{% set opengraph_title = "Southeast Dreamin' &mdash; Sponsor FAQ" %}
{% set opengraph_description = "The source for all your frequently asked questions for Southeast Dreamin' sponsors" %}
{% extends "layout.html" %}

{% block content %}
    <div class="container mx-4">
        <section class="hero">
            <p class="title">Sponsor FAQ</p>
        </section>
        <div class="content mt-6">
            <h2 class="title is-3" id="website">Website</h2>
            <dl>
                <dt class="title is-5 mt-4 mb-1">Where do I upload my logo and company information?</dt>
                <dd>
                    <ul>
                        <li><a href="https://forms.gle/jimRKxFWHvPnqPoh9">Platinum sponsors form</a></li>
                        <li><a href="https://forms.gle/mBTzAGYHy5ER4AyX7">Gold sponsors form</a></li>
                        <li><a href="https://forms.gle/iYhREoXiC3BW8M5B6">Silver sponsors form</a></li>
                    </ul>
                </dd>
            </dl>

            <h2 class="title is-3" id="onsite">Onsite</h2>
            <dl>
                <dt class="title is-5 mt-4 mb-1">How do I book my room?</dt>
                <dd>Southeast Dreamin' has a block of <a href="{{ globals.hotel_url }}">hotel rooms</a> provided by the venue for a discounted rate.</dd>
            </dl>
        </div>
    </div>
{% endblock %}