{% if subtitle %}
{% set pagetitle = "Southeast Dreamin' &mdash; " + subtitle %}
{% elif data.subtitle %}
{% set pagetitle = "Southeast Dreamin' &mdash; " + data.subtitle %}
{% else %}
{% set pagetitle = "Southeast Dreamin'" %}
{% endif %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="Southeast Dreamin' &mdash; {{ globals.event_date }}">
    <meta property="og:description" content="Join us for a community lead Salesforce conference with sessions by community members like you!">
    <meta property="og:type" content="website">
    <meta property="og:local" content="en_US">
    {% if data.opengraph_image %}
        <meta property="og:image" content="{{ data.opengraph_image }}">
    {% else %}
        <meta property="og:image" content="/img/opengraph.png">
    {% endif %}
    <meta property="og:url" content="https://southeastdreamin.com">

    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@sedreamin">
    <meta property="twitter:creator" content="@aelst">
    {% if data.opengraph_image %}
        <meta property="twitter:image" content="{{ data.opengraph_image }}">
    {% else %}
        <meta property="twitter:image" content="/img/opengraph.png">
    {% endif %}

    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

    {% include "partials/icons.html" %}

    <title>{{ pagetitle | safe }}</title>
    {% include "partials/styles.html" %}
</head>