{% if subtitle %}
{% set pagetitle = "Southeast Dreamin' &mdash; " + subtitle %}
{% elif data.subtitle %}
{% set pagetitle = "Southeast Dreamin' &mdash; " + data.subtitle %}
{% else %}
{% set pagetitle = "Southeast Dreamin'" %}
{% endif %}

{% if data.opengraph_image %}
{% set page_opengraph_image = data.opengraph_image %}
{% elif opengraph_image %}
{% set page_opengraph_image = opengraph_image %}
{% else %}
{% set page_opengraph_image = "/img/opengraph.png" %}
{% endif %}

{% if data.opengraph_title %}
{% set page_opengraph_title = data.opengraph_title %}
{% elif opengraph_title %}
{% set page_opengraph_title = opengraph_title %}
{% else %}
{% set page_opengraph_title = "Southeast Dreamin' &mdash; " + globals.event_date %}
{% endif %}

{% if opengraph_description %}
{% set page_opengraph_description = opengraph_description %}
{% else %}
{% set page_opengraph_description = "Join us for a community lead Salesforce conference with sessions by community members like you!" %}
{% endif %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="{{ page_opengraph_title | safe }}">
    <meta property="og:description" content="{{ page_opengraph_description | safe }}">
    <meta property="og:type" content="website">
    <meta property="og:local" content="en_US">
    <meta property="og:image" content="{{ page_opengraph_image }}">
    <meta property="og:url" content="https://southeastdreamin.com">

    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@sedreamin">
    <meta property="twitter:creator" content="@aelst">
    <meta property="twitter:title" content="{{ page_opengraph_title | safe }}">
    <meta property="twitter:image" content="{{ page_opengraph_image }}">

    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">

    {% include "partials/icons.html" %}

    <title>{{ pagetitle | safe }}</title>
    {% include "partials/styles.html" %}
</head>