<nav class="navbar px-4" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/img/logo_wide.png" alt="Southeast Dreamin'" width="112" height="28">
        </a>
        <span class="navbar-item has-text-primary">June 21-22, 2022</span>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/sponsors">Sponsor</a>
            <!--
            <a class="navbar-item" href="/faq">FAQ</a>
            <a class="navbar-item" href="/team">About Us</a>
            -->
        </div>
    </div>
</nav>