<nav class="navbar px-4" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/img/logo_wide.png" alt="Southeast Dreamin'" width="112" height="28">
        </a>
        <span class="navbar-item has-text-primary">{{ globals.event_date }}</span>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            {% if globals.display_cfp_form %}<a class="navbar-item" href="/cfp">CFP</a>{% endif %}
            <a class="navbar-item" href="/sponsors">Sponsor</a>
            <!--
            <a class="navbar-item" href="/faq">FAQ</a>
            <a class="navbar-item" href="/team">About Us</a>
            -->
        </div>
    </div>
</nav>