<nav class="navbar px-4" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/img/logo_wide_header.png" alt="Southeast Dreamin'" width="112" height="28">
        </a>
        <span class="navbar-item has-text-primary">{{ globals.event_date }}</span>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Home</a>
            {% if globals.display_cfp_form %}<a class="navbar-item" href="/cfp">CFP</a>{% endif %}
            {% if globals.display_hot_form %}<a class="navbar-item" href="/hot">HoT</a>{% endif %}
            {% if globals.display_header_sponsors %}<a class="navbar-item" href="/sponsors">Sponsors</a>{% endif %}
            {% if globals.display_header_schedule %}<a class="navbar-item" href="/schedule">Schedule</a>{% endif %}
            {% if globals.display_header_sessions %}<a class="navbar-item" href="/sessions">Sessions</a>{% endif %}
            <a class="navbar-item" href="/archive">Archive</a>
            <a class="navbar-item" href="/team">About Us</a>
            <a class="navbar-item" href="/faq">FAQ</a>
        </div>
    </div>
    <div class="navbar-end">
        {% if globals.display_header_volunteer %}
        <div class="navbar-item">
            <div class="buttons">
                <a href="/volunteer" class="button is-primary">Volunteer</a>
            </div>
        </div>
        {% endif %}
        {% if globals.display_sponsor_form %}
        <div class="navbar-item">
            <div class="buttons">
                <a href="/sponsors/new" class="button is-link">Become a Sponsor</a>
            </div>
        </div>
        {% endif %}
        {% if globals.registration_open %}
        <div class="navbar-item">
            <div class="buttons">
                <a href="{{ globals.registration_url }}" class="button is-link">Register</a>
                <a href="{{ globals.hotel_url }}" class="button is-light is-link">Hotel</a>
            </div>
        </div>
        {% endif %}
    </div>
</nav>