{% set subtitle = "Call for Presentations" %}
{% set opengraph_title = "Southeast Dreamin' &mdash; Call for Presentations" %}
{% set opengraph_description = "We're excited to see what you've got!  Submit your presentation before March 17th." %}
{% extends "layout.html" %}
{% import "partials/helpers.html" as helpers %}

{% block content %}
    <div class="container mx-4">
        {% if globals.display_cfp_form %}
            <section class="hero">
                <p class="title">Call for Presentations</h1>
                <p class="subtitle">Call for presentations closes on {{ globals.cfp_enddate}}.</p>
            </section>
            <div class="content mt-6 is-fluid">
                <iframe class="google_form" src="{{ globals.cfp_form }}" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>
        {% else %}
            <section class="hero">
                <p class="title">Call For Presentations</p>
                <div class="content mt-6 is-fluid">
                    <p>Our call for presentations is currently closed.  Thank you for interest. Please check our social media outlets for when our call for presentation opens next.</p>
                </div>
                <div class="is-clearfix"></div>
            </section>
        {% endif %}
    </div>
{% endblock %}