{% set subtitle = "Call for Presentations" %}
{% extends "layout.html" %}
{% import "partials/helpers.html" as helpers %}

{% block content %}
    <div class="container mx-4">
        {% if globals.display_cfp_form %}
            <section class="hero">
                <p class="title">Call for Presentations</h1>
                <p class="subtitle">Call for presentations closes on {{ globals.cfp_enddate}}.</p>
            </section>
            <div class="content mt-6 is-fluid">
                <div id="submitted" class="is-hidden">
                    Thank you for you submission!  If you would like to submit another session, please refresh this page and fill out the form again.  We will notify everyone the status of their submission after submissions close on {{ globals.cfp_enddate }} and before {{ globals.cfp_notifdate }}.
                </div>
                <form id="cfp">
                    <fieldset id="cfp_fieldset">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Name</label>
                            </div>

                            <div class="field-body">
                                <div class="field">
                                    <p class="control is-expanded">
                                        <input
                                            class="input"
                                            placeholder="First name"
                                            id="first_name"
                                            maxlength="40"
                                            name="first_name"
                                            type="text"/>
                                    </p>
                                </div>

                                <div class="field">
                                    <p class="control is-expanded">
                                        <input
                                            class="input"
                                            placeholder="Last name"
                                            id="last_name"
                                            maxlength="80"
                                            name="last_name"
                                            type="text"/>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Email</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control is-expanded">
                                        <input
                                            class="input"
                                            placeholder="Email"
                                            id="email"
                                            maxlength="80"
                                            name="email"
                                            size="20"
                                            type="email"/>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Company Name</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control is-narrow">
                                        <input
                                            class="input"
                                            placeholder="Company Name"
                                            id="company"
                                            maxlength="40"
                                            name="company"
                                            type="text"/>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Session Title</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control is-narrow">
                                        <input
                                            class="input"
                                            placeholder="Session Title"
                                            id="session_title"
                                            maxlength="40"
                                            name="session_title"
                                            type="text"/>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Session Details</label>
                            </div>

                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            <select name="track" id="track">
                                                <option value="">Audience</option>
                                                <option value="admin">Administrators</option>
                                                <option value="architect">Architects</option>
                                                <option value="dev">Developers</option>
                                                <option value="end_users">End Users</option>
                                                <option value="exec">Executives</option>
                                                <option value="marketing">Marketing Cloud / Pardot</option>
                                                <option value="non_profit">Non-Profit</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="control">
                                        <div class="select is-fullwidth">
                                            <select name="length" id="length">
                                                <option value="">Length</option>
                                                <option value="short">15-25 Minutes</option>
                                                <option value="long">25-45 Minutes</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Session Abstract</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <textarea
                                            class="textarea"
                                            placeholder="Session Abstract"
                                            id="session_abstract"
                                            maxlength="32000"
                                            name="session_abstract"
                                        ></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label"></div>
                            <div class="field-body">
                                <div class="control">
                                    <button class="button is-primary" type="submit" id="submit" name="submit">Submit</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <script src="/js/cfp.js"></script>
            </div>
        {% else %}
            <section class="hero">
                <p class="title">Call For Presentations</p>
                <div class="content mt-6 is-fluid">
                    <p>Our call for presentations is currently closed.  Thank you for interest. Please check our social media outlets for when our call for presentation opens next.</p>
                </div>
            </section>
        {% endif %}
    </div>
{% endblock %}