{% set subtitle = "FAQ" %}
{% extends "layout.html" %}

{% block content %}
    <div class="container mx-4">
        <section class="hero">
            <p class="title">Frequently Asked Questions</p>
        </section>
        <div class="content mt-6">
            {% for section in data.sections %}
            <h2 class="title is-3"><a id="{{ section.id }}"></a>{{ section.title | safe }}</h2>
            <dl>
                {% for question in section.questions %}
                <dt class="title is-5 mt-4 mb-1">{{ question.question | safe }}</dt>
                <dd>{{ question.answer |
                    replace("{{ globals.cfp_notifdate }}", globals.cfp_notifdate) |
                    replace("{{ globals.cfp_enddate }}", globals.cfp_enddate) |
                    replace("{{ globals.event_day_one_number }}", globals.event_day_one_number) |
                    replace("{{ globals.event_day_two_number }}", globals.event_day_two_number) |
                    replace("{{ globals.hotel_url }}", globals.hotel_url) |
                    replace("{{ globals.registration_url }}", globals.registration_url) |
                    replace("{{ globals.full_refund_date }}", globals.full_refund_date) |
                    replace("{{ globals.transfer_date }}", globals.transfer_date) |
                    replace("{{ globals.registration_email }}", globals.registration_email) |
                    safe
                }}</dd>
                {% endfor %}
            </dl>
            {% endfor %}
        </div>
    </div>
{% endblock %}