{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <section class="hero">
            <p class="title">Frequently Asked Questions</p>
        </section>
        <div class="content">
            <dl>
                <dt>Where is Southeast Dreamin' being held?</dt>
                <dd>Marriot</dd>
                <dt>How can I get my ticket?</dt>
                <dd></dd>
                <dt>Is there parking at the hotel?</dt>
                <dd></dd>
                <dt>Are meals included?</dt>
                <dd></dd>
                <dt>How do I reserve a hotel room?</dt>
                <dd></dd>
                <dt>What's the best way to get to the hotel from the airport?</dt>
                <dd></dd>
                <dt>How can I volunteer at the event?</dt>
                <dd></dd>
            </dl>
        </div>
    </div>
{% endblock %}