{% set subtitle = "Brand Guide" %}
{% extends "layout.html" %}

{% block content %}
    <div class="container px-4">
        <section class="hero mb-6">
            <h1 class="title is-1">Brand Guide</h1>
        </section>
        <h2 class="title is-3">Colors</h2>
        <div class="columns">
            <div class="column">
                <div class="swatch is-align-items-center is-align-content-center is-flex has-background-black">
                    <p class="has-text-light has-text-weight-bold">#000000</p>
                </div>
            </div>
            <div class="column">
                <div class="swatch is-align-items-center is-flex has-background-white">
                    <p class="has-text-weight-bold">#ffffff</p>
                </div>
            </div>
            <div class="column">
                <div class="swatch is-align-items-center is-flex has-background-dark-blue">
                    <p class="has-text-light has-text-weight-bold">#5498BC</p>
                </div>
            </div>
            <div class="column">
                <div class="swatch is-align-items-center is-flex has-background-light-blue">
                    <p class="has-text-light has-text-weight-bold">#6BB4E5</p>
                </div>
            </div>
            <div class="column">
                <div class="swatch is-align-items-center is-flex has-background-dark-yellow">
                    <p class="has-text-light has-text-weight-bold">#F4BB3A</p>
                </div>
            </div>
            <div class="column">
                <div class="swatch is-align-items-center is-flex has-background-light-yellow">
                    <p class="has-text-light has-text-weight-bold">#FFC74E</p>
                </div>
            </div>
        </div>
        <h2 class="title is-3">Logos</h2>
        <div class="columns">
            <div class="column">
                <img src="/img/logos/full_banner_color.png" alt="Full Southeast Dreamin logo in multiple colors" width="1312" height="367" />
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <img src="/img/logos/full_banner_black.png" alt="Full Southeast Dreamin logo in black" width="1312" height="367" />
            </div>
        </div>
        <div class="columns">
            <div class="column has-background-dark">
                <img src="/img/logos/full_banner_white.png" alt="Full Southeast Dreamin logo in white" width="1312" height="367" />
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <img src="/img/logos/full_banner_blue.png" alt="Full Southeast Dreamin logo in blue" width="1312" height="367" />
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <img src="/img/logos/cloud_full_color.png" alt="Small Southeast Dreamin logo with full name in multiple colors" width="310" height="223" />
            </div>
            <div class="column">
                <img src="/img/logos/cloud_full_black.png" alt="Small Southeast Dreamin logo with full name in black" width="310" height="223" />
            </div>
            <div class="column has-background-dark">
                <img src="/img/logos/cloud_full_white.png" alt="Small Southeast Dreamin logo with full name in white" width="310" height="223" />
            </div>
            <div class="column">
                <img src="/img/logos/cloud_full_blue.png" alt="Small Southeast Dreamin logo with full name in blue" width="310" height="223" />
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <img src="/img/logos/cloud_sed_color.png" alt="Small Southeast Dreamin logo with initials in multiple colors" width="310" height="223" />
            </div>
            <div class="column">
                <img src="/img/logos/cloud_sed_black.png" alt="Small Southeast Dreamin logo with initials in black" width="310" height="223" />
            </div>
            <div class="column has-background-dark">
                <img src="/img/logos/cloud_sed_white.png" alt="Small Southeast Dreamin logo with initials in white" width="310" height="223" />
            </div>
            <div class="column">
                <img src="/img/logos/cloud_sed_blue.png" alt="Small Southeast Dreamin logo with initials in blue" width="310" height="223" />
            </div>
        </div>
    </div>
{% endblock %}