{% set subtitle = "Speaker FAQ" %}
{% set opengraph_title = "Southeast Dreamin' &mdash; Speaker FAQ" %}
{% set opengraph_description = "The source for all your frequently asked questions for Southeast Dreamin' speakers" %}
{% extends "layout.html" %}
{% import "partials/helpers.html" as helpers %}

{% block content %}
    <div class="container mx-4">
        <section class="hero">
            <p class="title">Speaker FAQ</p>
        </section>
        <div class="content mt-6">
            <h2 class="title is-3" id="website">Website</h2>
            <dl>
                <dt class="title is-5 mt-4 mb-1">Where do I upload my speaker information?</dt>
                <dd>By using our <a href="{{ globals.speaker_form_url }}">Speaker information form</a></dd>
                <dt class="title is-5 mt-4 mb-1">How do I update my information on the website?</dt>
                <dd>Please reach out to Patrick Connelly in the speakers Slack channel with the needed corrections</dd>
                <dd>
            </dl>

            <h2 class="title is-3">Session</h2>
            <dl>
                <dt class="title is-5 mt-4 mb-1">Where can I get the slide template</dt>
                <dd>This is our <a href="{{ globals.slide_deck_url }}">slide template</a> for the event</dd>
                <dt class="title is-5 mt-4 mb-1">When is my dry run due?</dt>
                <dd>If this is your first time presenting at Southeast Dreamin', we require you to present a dry run to our team.  This is due before {{ speaker_slides_due_date }}.</dd>
                <dt class="title is-5 mt-4 mb-1">When are my slides due?</dt>
                <dd>Slides are due by {{ speaker_dry_run_date }}.</dd>
                <dt class="title is-5 mt-4 mb-1">Where do I submit my slides for review?</dt>
                <dd>When your slides are complete <a href="{{ globals.slide_upload_url }}">upload them</a> for our team to review.</dd>
                <dt class="title is-5 mt-4 mb-1">Where is the sponsor slide?</dt>
                <dd>The sponsor slide is not available yet.</dd>
            </dl>

            <h2 class="title is-3" id="onsite">Onsite</h2>
            <dl>
                <dt class="title is-5 mt-4 mb-1">Do I need to bring my own laptop?</dt>
                <dd>Yes, you will need to bring your own device to present from.  You will need to make sure that your device has HDMI out.  The conference and the A/V company will not provide any necessary dongles.</dd>
                <dt class="title is-5 mt-4 mb-1">Are my hotel room or travel expenses covered?</dt>
                <dd>Unfortunately since this is community funded conference our budget does not have any allowences for these types of expenses for speakers.</dd>
                <dt class="title is-5 mt-4 mb-1">How do I book my room?</dt>
                <dd>Southeast Dreamin' has a block of <a href="{{ globals.hotel_url }}">hotel rooms</a> provided by the venue for a discounted rate.</dd>
                <dt class="title is-5 mt-4 mb-1">If I already purchased a Southeast Dreamin' ticket can I get a refund?</dt>
                <dd>Yes!  As a speaker, your entrance to the conference is covered.  You can either reach out to Patrick Connelly in the speaker Slack or email <a href="mailto:registration@sedreamin.com">registration@sedreamin.com</a></dd>
            </dl>
        </div>
    </div>
{% endblock %}