{% set subtitle = "Sponsor" %}
{% extends "layout.html" %}

{% block content %}
    {% if globals.display_sponsor_form %}
    <div class="container mx-4">
        <section class="hero">
            <p class="title">Sponsorship</h1>
            <p class="subtitle">We'd love to have you sponsor our event! Please fill out the form below with your information</p>
        </section>
        <div class="content mt-6 is-fluid">
            <script src="https://www.google.com/recaptcha/api.js"></script>
            <script>
                function timestamp() {
                    var response = document.getElementById("g-recaptcha-response");
                    if (response == null || response.value.trim() == "") {
                        var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);
                        elems["ts"] = JSON.stringify(new Date().getTime());
                        document
                            .getElementsByName("captcha_settings")[0]
                            .value = JSON.stringify(elems);
                    }
                }
                setInterval(timestamp, 500);
            </script>
            <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
                <input type="hidden" name="captcha_settings" value='{"keyname":"SoutheastDreamin_ReCaptcha_v2","fallback":"true","orgId":"00D410000007gqO","ts":""}'>
                <input type="hidden" name="oid" value="00D410000007gqO">
                <input type="hidden" name="00N4100000eYs0t" value="a031K00004gbBPNQA2">
                <input type="hidden" name="retURL" value="http://southeastdreamin.com/sponsors/thankyou">
                <input type="hidden" name="lead_source" value="Web">
                <input type="hidden" name="00N4100000bKxaL" id="00N4100000bKxaL" value="Sponsor">

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Name</label>
                    </div>

                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded">
                                <input
                                    class="input"
                                    placeholder="First name"
                                    id="first_name"
                                    maxlength="40"
                                    name="first_name"
                                    type="text"/>
                            </p>
                        </div>

                        <div class="field">
                            <p class="control is-expanded">
                                <input
                                    class="input"
                                    placeholder="Last name"
                                    id="last_name"
                                    maxlength="80"
                                    name="last_name"
                                    type="text"/>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Email</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded">
                                <input
                                    class="input"
                                    placeholder="Email"
                                    id="email"
                                    maxlength="80"
                                    name="email"
                                    size="20"
                                    type="text"/>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Company Name</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-narrow">
                                <input
                                    class="input"
                                    placeholder="Company Name"
                                    id="company"
                                    maxlength="40"
                                    name="company"
                                    type="text"/>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Message</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea
                                    class="textarea"
                                    placeholder="Message"
                                    id="description"
                                    maxlength="32000"
                                    name="description"
                                ></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label"></div>
                    <div class="field-body">
                        <div
                            class="g-recaptcha"
                            data-sitekey="6LeMFPMcAAAAANXpe9sFktiIorC1YJxl5AnCaL-i"></div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label"></div>
                    <div class="field-body">
                        <div class="control">
                            <input class="button is-primary" type="submit" name="submit" value="Submit">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% else %}
    <div class="container mx-4">
        <section class="hero">
            <p class="title">Sponsorship</h1>
        </section>
        <div class="content mt-6 is-fluid">
            <p>We are working on planning our next event and are not currently accepting sponsorship applications.  Please check our social media outlets for our call for sponsors</p>
        </div>
    </div>
    {% endif %}
{% endblock %}