{% set subtitle = "Sponsors" %}
{% extends "layout.html" %}
{% import "partials/helpers.html" as helpers %}

{% block content %}
<h1>2022 Sponsors</h1>
{% for level in data.sponsor_types %}
    <section class="section">
        <h1 class="title is-capitalized">{{ level.type | capitalize }}</h1>
        <div class="columns">
            {% for sponsor in level.sponsors %}
            <div class="column is-one-third">{{ sponsor.name }}</div>
            {% endfor %}
        </div>
    </section>
{% endfor %}
{% endblock %}