{% set subtitle = "Schedule" %}
{% extends "layout.html" %}
{% import "partials/helpers.html" as helpers %}

{% block content %}
    <link rel="stylesheet" href="/css/leaflet.css">
    <div class="container mx-4">
        <h1 class="title is-1">Schedule</h1>
        <h2 class="subtitle is-6">This schedule has not been finalized and may be subject to change</h2>
        {% for d in data.general_schedule %}
            <h2 class="is-size-4 has-text-weight-bold mt-5">{{ d.date }}</h2>
            {{ helpers.scheduletable(d.events) }}
            {{ helpers.schedulemobile(d.events) }}
        {% endfor %}
        <h1 class="title is-1">Sessions</h1>
        {{ helpers.sessions(data.time_slots, data.rooms, data.tracks, data.sessions) }}
        <div id="map" class="mt-5"></div>
    </div>
    <script src="/js/map.js"></script>
{% endblock %}