{% set subtitle = "Volunteers" %}
{% extends "layout.html" %}
{% import "macros/volunteers.njk" as helpers %}

{% block content %}
    <div class="mx-4 content">
        {% if data.fully_staffed %}
            <article class="message is-medium is-info">
                <div class="message-body">Thank you for your interest. All of the volunteer roles have been filled for the {{ data.year }} conference.</div>
            </article>
        {% endif %}
        <h1 class="is-1">Volunteer FAQ</h1>
        <h2>What positions are available?</h2>
	    <p>There are three types of positions available. Committee positions are opportunities to serve on the planning committee and make decisions related to how the conference is organized. Session-Support positions are only related to supporting work to prepare selected speakers for the conference. Day-Of positions support the actual execution of the conference</p>
        <p>These are available positions are with the number of available positions in parentheses:</p>
        <ul>
            {% for position in data.positions %}
                <li><b>{{ position.title }}</b>
                    <ul>
                        {% for role in position.roles %}
                            {{ helpers.role_entry(role) }}
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>

        <h2>What is the time commitment?</h2>
        <p>Committee positions have a ~ 1 - 3 hour weekly commitment that includes a 1 hour weekly meeting. These positions also commit to volunteering from {{ data.times.committee.start }} - {{ data.times.committee.end }} until the end of the conference.</p>
        <p>Session-Support position will not exceed more than 15 hours volunteer hours between {{ data.times.session.start }} - {{ data.times.session.end }}.</p>
        <p>Day-Of Support positions will need to be available all day starting {{ data.times.dayof.start }} thru {{ data.times.dayof.end }}.</p>

        <h2>What benefits will I receive volunteering?</h2>
        <p>Different benefits are available for different positions. Committee positions are offered full financial assistance to attend the conference if needed. Session-Support positions are offered a 100% discount to attend if they choose. Day-Of Support positions are offered a free ticket and are able to attend sessions that do not impede on their day-of responsibilities.</p>
        <p>All benefits are subject to be revoked if the duties and responsibilities are not performed to the specified expectations.</p>

        <h2>How do I apply to volunteer?</h2>
        {% if data.form_active %}
        <p>Please fill out this <a href="{{ data.form_url }}">form</a>.
        {% else %}
        <p>We are currently not looking for additional volunteers.  Please check back later</p>
        {% endif %}

        <h2>When will I hear about my application?</h2>
        <p>Applications are reviewed on a rolling basis. Please allow for 7 - 14 business days for the team to respond to your application.</p>

        <h2>I want to volunteer but none of the positions fit my skills. Are there other positions available?</h2>
        <p>No, at this time we have identified the roles we need to support the conference. If you feel strongly about adding value to the team, please provide a detailed description of the support that you can bring to the team and conference to <a href="mailto:volunteers@dreaminevents.com">volunteers@dreaminevents.com</a>. Please allow for 7 - 14 business days for the team to respond to your email.</p>

        <p class="mt-6 is-size-7 has-text-right has-text-weight-light">Last updated on 2023-11-15</p>
    </div>
{% endblock %}