{% set subtitle = "Volunteers" %}
{% extends "layout.html" %}

{% block content %}
    <div class="mx-4 content">
        <h1 class="is-1">Volunteer FAQ</h1>
        <h2>What positions are available?</h2>
	    <p>There are three types of positions available. Committee positions are opportunities to serve on the planning committee and make decisions related to how the conference is organized. Session-Support positions are only related to supporting work to prepare selected speakers for the conference. Day-Of positions support the actual execution of the conference</p>
        <p>These are available positions are with the number of available positions in parentheses:</p>
        <ul>
            <li><b>Committee Positions</b>
                <ul>
                    <li><strike>Keynote Coordinator (1)
                        <ul>
                            <li>Lead organizer of the conference opening session & keynote presentation(s)</li>
                        </ul></strike>
                    </li>
                    <li><strike>Sponsor Coordinator (2)
                        <ul><li>Support the onboarding and support of conference sponsors</li></ul></strike>
                    </li>
                    <li>Procurement Officer (1)
                        <ul><li>Responsible for acquiring materials and swag to support the conference</li></ul>
                    </li>
                    <li><strike>Social Media Marketer (1)
                        <ul><li>Responsible for developing conference content to post on social media</li></ul></strike>
                    </li>
                </ul>
            </li>
            <li><b>Session-Support</b>
                <ul>
                    <li>Speaker Mentors (5)
                        <ul><li>Individuals that guide and support speakers by reviewing session abstracts and presentations</li></ul>
                    </li>
                </ul>
            </li>
            <li><b>Day-Of Support</b>
                <ul>
                    <li>Demo Jam Presenter (1)
                        <ul><li>Lead MC of the sponsors' demo jam presentations and polling of the audience to choose a demo jam winner</li></ul>
                    </li>
                    <li><strike>Onsite Coordinator (2)
                        <ul><li>On the ground support to ensure the conference runs smoothly and completes various tasks assigned</li></ul></strike>
                    </li>
                </ul>
            </li>
        </ul>

        <h2>What is the time commitment?</h2>
        <p>Committee positions have a ~ 1 - 3 hour weekly commitment that includes a 1 hour weekly meeting. These positions also commit to volunteering from November 2023 - June 2024 until the end of the conference.</p>
        <p>Session-Support position will not exceed more than 15 hours volunteer hours between March 2024 - May 2024.</p>
        <p>Day-Of Support positions will need to be available all day starting 6pm ET Wednesday, June 26, 2023 thru 5pm Friday, June 27, 2023.</p>

        <h2>What benefits will I receive volunteering?</h2>
        <p>Different benefits are available for different positions. Committee positions are offered full financial assistance to attend the conference if needed. Session-Support positions are offered a 100% discount to attend if they choose. Day-Of Support positions are offered a free ticket and are able to attend sessions that do not impede on their day-of responsibilities.</p>
        <p>All benefits are subject to be revoked if the duties and responsibilities are not performed to the specified expectations.</p>

        <h2>How do I apply to volunteer?</h2>
        <p>Please fill out this <a href="https://forms.gle/RyG2hoQSkhvHLnEE8">form</a>.

        <h2>When will I hear about my application?</h2>
        <p>Applications are reviewed on a rolling basis. Please allow for 7 - 14 business days for the team to respond to your application.</p>

        <h2>I want to volunteer but none of the positions fit my skills. Are there other positions available?</h2>
        <p>No, at this time we have identified the roles we need to support the conference. If you feel strongly about adding value to the team, please provide a detailed description of the support that you can bring to the team and conference to <a href="mailto:volunteers@dreaminevents.com">volunteers@dreaminevents.com</a>. Please allow for 7 - 14 business days for the team to respond to your email.</p>

        <p class="mt-6 is-size-7 has-text-right has-text-weight-light">Last updated on 2023-11-15</p>
    </div>
{% endblock %}